.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.lo {

  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  /* height: 50px; */
  background: #f9f9f9;

}

.lo img {
  height: 50px;
}

.intro {
  border-radius: 20px; 
  height: 30dvh;
  padding: 10px; 
}


.pimg {
  width: 100px;
  border-radius: 50%;
}


.services {
  text-align: center;
  padding: 40px 20px;
  background: #f8f5f5;
}

.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.service {
  width: 20%;
  padding: 10px;
  text-align: left;
}

.contact-details {
  text-align: center;
  padding: 40px 20px;
  border-radius: 3rem;
}